@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-sweet {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

.scrollbar-sweet::-webkit-scrollbar {
  width: 2px;
}

.scrollbar-sweet::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 2px;
}

.scrollbar-sweet::-webkit-scrollbar-thumb {
  @apply bg-primary;
}

.main-links.router-link-exact-active {
  @apply text-primary;
}

.glass {
  @apply bg-gradient_1;

  opacity: 0.4;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
